.wpaw-recent-posts {
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    margin: 0;
    padding: 0;

    > a {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      text-decoration: none;
    }
  }

  &__figure {
    margin-right: 1em;
    flex: none;
    height: 90px;
    width: 90px;
    background-color: #eee;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    &::before {
      content: '';
      display: block;
      padding-top: 100%;
    }
  }

  &__body {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    > * {
      flex: none;
    }
  }

  &__taxonomy {
  }

  &__term {
    display: inline-block;
    background-color: #000;
    color: #fff;
    line-height: 1;
    font-size: 12px;
    padding: 3px 6px 2px;
  }

  &__date {
    margin-top: auto;
  }
}
