.wpaw-term {
  display: inline-block;
  background-color: #000;
  color: #fff;
  line-height: 1;
  font-size: 12px;
  padding: 3px 6px 2px; }

.wpaw-slider__canvas {
  visibility: hidden; }
  .wpaw-slider__canvas.slick-initialized {
    visibility: visible; }

.wpaw-slider__mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.wpaw-slider__item {
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  text-decoration: none; }

.wpaw-slider__body {
  position: relative; }

.wpaw-slider__item-title {
  color: #fff; }

.wpaw-slider__item-summary {
  color: #fff; }

.wpaw-slider__item-more--ghost {
  border: 1px solid #fff;
  color: #fff; }

.wpaw-slider .slick-list {
  height: auto !important; }

.wpaw-slider .slick-track {
  display: -ms-flexbox;
  display: flex; }

.wpaw-slider .slick-slide > div > div {
  display: block !important; }

.wpaw-pr-box {
  /**
   * Overwrite with theme css
   *
   * &__row--<size>
   * &__row--md-<size>
   * &__row--lg-<size>
   */
  /**
   * Overwrite with theme css
   */ }
  .wpaw-pr-box__title {
    text-align: center; }
  .wpaw-pr-box__lead {
    text-align: center; }
  .wpaw-pr-box__item-figure {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-color: #eee; }
    .wpaw-pr-box__item-figure::before {
      content: '';
      display: block; }
    .wpaw-pr-box__item-figure--4to3::before {
      padding-top: 75%; }
    .wpaw-pr-box__item-figure--16to9::before {
      padding-top: 56.25%; }
  .wpaw-pr-box__item-title {
    font-weight: bold; }
  .wpaw-pr-box__item-action {
    text-align: center; }
  .wpaw-pr-box__action {
    text-align: center; }

.wpaw-showcase {
  position: relative;
  display: block;
  text-decoration: none;
  overflow: hidden;
  /**
   * For right image
   */
  /**
   * For left image
   */
  /**
   * For bottom image
   */ }
  .wpaw-showcase__bgimage {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
    .wpaw-showcase__bgimage > img {
      position: absolute;
      width: auto;
      height: auto;
      top: 50%;
      left: 0;
      transform: translate3d(0, -50%, 0);
      min-width: 100%;
      min-height: 100%;
      max-width: none;
      max-height: none; }
      @media (max-width: 1023px) {
        .wpaw-showcase__bgimage > img {
          transform: translate3d(0, -50%, 0); } }
      @supports (object-fit: cover) {
        .wpaw-showcase__bgimage > img {
          object-fit: cover;
          width: 100%; } }
  .wpaw-showcase__mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    background-color: rgba(0, 0, 0, 0.2); }
  .wpaw-showcase__inner {
    position: relative; }
  .wpaw-showcase__figure {
    text-align: center; }
  .wpaw-showcase__title {
    color: #fff; }
  .wpaw-showcase__lead {
    color: #fff; }
  .wpaw-showcase__action {
    text-align: center; }
  .wpaw-showcase__more {
    display: inline-block;
    background-color: #fff;
    line-height: 1;
    text-decoration: none;
    text-align: center;
    white-space: nowrap; }

.wpaw-recent-posts__list {
  list-style: none;
  margin: 0;
  padding: 0; }

.wpaw-recent-posts__item {
  margin: 0;
  padding: 0; }
  .wpaw-recent-posts__item > a {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    text-decoration: none; }

.wpaw-recent-posts__figure {
  margin-right: 1em;
  -ms-flex: none;
  flex: none;
  height: 90px;
  width: 90px;
  background-color: #eee;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat; }
  .wpaw-recent-posts__figure::before {
    content: '';
    display: block;
    padding-top: 100%; }

.wpaw-recent-posts__body {
  -ms-flex: 1 1 0%;
  flex: 1 1 0%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  .wpaw-recent-posts__body > * {
    -ms-flex: none;
    flex: none; }

.wpaw-recent-posts__date {
  margin-top: auto; }

.wpaw-any-posts__list {
  list-style: none;
  margin: 0;
  padding: 0; }

.wpaw-any-posts__item {
  margin: 0;
  padding: 0; }
  .wpaw-any-posts__item > a {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    text-decoration: none; }

.wpaw-any-posts__figure {
  margin-right: 1em;
  -ms-flex: none;
  flex: none;
  height: 90px;
  width: 90px;
  background-color: #eee;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat; }
  .wpaw-any-posts__figure::before {
    content: '';
    display: block;
    padding-top: 100%; }

.wpaw-any-posts__body {
  -ms-flex: 1 1 0%;
  flex: 1 1 0%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  .wpaw-any-posts__body > * {
    -ms-flex: none;
    flex: none; }

.wpaw-any-posts__date {
  margin-top: auto; }

.wpaw-ranking__list {
  list-style: none;
  margin: 0;
  padding: 0; }

.wpaw-ranking__item {
  margin: 0;
  padding: 0; }
  .wpaw-ranking__item > a {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    text-decoration: none; }

.wpaw-ranking__figure {
  margin-right: 1em;
  -ms-flex: none;
  flex: none;
  height: 90px;
  width: 90px;
  background-color: #eee;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat; }
  .wpaw-ranking__figure::before {
    content: '';
    display: block;
    padding-top: 100%; }

.wpaw-ranking__body {
  -ms-flex: 1 1 0%;
  flex: 1 1 0%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  .wpaw-ranking__body > * {
    -ms-flex: none;
    flex: none; }

.wpaw-ranking__date {
  margin-top: auto; }

.wpaw-taxonomy-posts__list {
  list-style: none;
  margin: 0;
  padding: 0; }

.wpaw-taxonomy-posts__item {
  margin: 0;
  padding: 0; }
  .wpaw-taxonomy-posts__item > a {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    text-decoration: none; }

.wpaw-taxonomy-posts__figure {
  margin-right: 1em;
  -ms-flex: none;
  flex: none;
  height: 90px;
  width: 90px;
  background-color: #eee;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat; }
  .wpaw-taxonomy-posts__figure::before {
    content: '';
    display: block;
    padding-top: 100%; }

.wpaw-taxonomy-posts__body {
  -ms-flex: 1 1 0%;
  flex: 1 1 0%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  .wpaw-taxonomy-posts__body > * {
    -ms-flex: none;
    flex: none; }

.wpaw-taxonomy-posts__date {
  margin-top: auto; }

.wpaw-pickup-slider__canvas {
  visibility: hidden; }
  .wpaw-pickup-slider__canvas.slick-initialized {
    visibility: visible; }

.wpaw-pickup-slider__item {
  position: relative;
  display: block;
  text-decoration: none; }
  .wpaw-pickup-slider__item .wpaw-pickup-slider__figure {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }

.wpaw-pickup-slider__figure {
  display: block;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover; }

.wpaw-pickup-slider__item-body {
  position: relative; }

.wpaw-pickup-slider .slick-list {
  height: auto !important; }

.wpaw-google-adsense {
  overflow: hidden; }
  .wpaw-google-adsense__row {
    margin: 0 -.5em -1em;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .wpaw-google-adsense__col {
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    max-width: 100%;
    padding: 0 .5em 1em; }
  .wpaw-google-adsense__ad {
    margin: 0 auto;
    width: 100%;
    overflow: hidden; }
    .wpaw-google-adsense__ad--big-banner {
      max-width: 728px;
      max-height: 90px; }
    .wpaw-google-adsense__ad--rectangle-big {
      max-width: 336px;
      max-height: 280px; }
    .wpaw-google-adsense__ad--large-mobile {
      max-width: 320px;
      max-height: 100px; }
    .wpaw-google-adsense__ad--large-sky-scraper {
      max-width: 300px;
      max-height: 600px; }
    .wpaw-google-adsense__ad--rectangle {
      max-width: 300px;
      max-height: 250px; }
    .wpaw-google-adsense__ad--rectangle-big-2 {
      max-width: 336px;
      max-height: 280px; }
    .wpaw-google-adsense__ad--rectangle-2 {
      max-width: 300px;
      max-height: 250px; }

.wpaw-carousel__canvas {
  visibility: hidden; }
  .wpaw-carousel__canvas.slick-initialized {
    visibility: visible; }

.wpaw-carousel__item {
  position: relative; }

.wpaw-carousel__figure {
  position: relative;
  background-color: #eee;
  overflow: hidden; }
  .wpaw-carousel__figure::before {
    content: '';
    display: block;
    padding-top: 75%; }
  .wpaw-carousel__figure > img {
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 50%;
    width: auto;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    transform: translate(-50%, -50%); }
    @supports (object-fit: cover) {
      .wpaw-carousel__figure > img {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: 50% 50%;
        transform: none; } }

.wpaw-carousel__taxonomy {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 1; }
