.wpaw-term {
  display: inline-block;
  background-color: #000;
  color: #fff;
  line-height: 1;
  font-size: 12px;
  padding: 3px 6px 2px; }

.wpaw-posts-list {
  list-style: none;
  margin: 0;
  padding: 0; }
  .wpaw-posts-list__item {
    margin: 0;
    padding: 0; }
    .wpaw-posts-list__item > a {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      text-decoration: none; }
  .wpaw-posts-list__figure {
    position: relative;
    overflow: hidden;
    margin-right: 1em;
    flex: none;
    height: 90px;
    width: 90px;
    background-color: #eee; }
    .wpaw-posts-list__figure > img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: auto;
      height: auto;
      min-height: 100%;
      min-width: 100%;
      transform: translate(-50%, -50%); }
      @supports (object-fit: cover) {
        .wpaw-posts-list__figure > img {
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: 50% 50%;
          transform: none; } }
  .wpaw-posts-list__body {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap; }
    .wpaw-posts-list__body > * {
      flex: none; }
  .wpaw-posts-list__date {
    margin-top: auto; }

.wpaw-slider__canvas {
  visibility: hidden; }
  .wpaw-slider__canvas.slick-initialized {
    visibility: visible; }

.wpaw-slider__mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.wpaw-slider__item {
  position: relative;
  display: block;
  text-decoration: none; }
  .wpaw-slider__item .wpaw-slider__figure {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }

.wpaw-slider__figure {
  position: relative;
  overflow: hidden;
  display: block;
  background-color: #111; }
  .wpaw-slider__figure > img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    transform: translate(-50%, -50%); }
    @supports (object-fit: cover) {
      .wpaw-slider__figure > img {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: 50% 50%;
        transform: none; } }

.wpaw-slider__item-content {
  position: relative;
  color: #fff; }

.wpaw-slider__item-more--ghost {
  border: 1px solid #fff;
  color: #fff; }

.wpaw-slider .slick-list {
  height: auto !important; }

.wpaw-slider .slick-track {
  display: flex; }

.wpaw-slider .slick-slide > div > div {
  display: block !important; }

.wpaw-pr-box {
  /**
   * Overwrite with theme css
   */
  /**
   * Overwrite with theme css
   *
   * &__row--<size>
   * &__row--md-<size>
   * &__row--lg-<size>
   */
  /**
   * Overwrite with theme css
   */ }
  .wpaw-pr-box__title {
    text-align: center; }
  .wpaw-pr-box__lead {
    text-align: center; }
  .wpaw-pr-box__item-figure {
    position: relative;
    overflow: hidden;
    background-color: #eee; }
    .wpaw-pr-box__item-figure > img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: auto;
      height: auto;
      min-height: 100%;
      min-width: 100%;
      transform: translate(-50%, -50%); }
      @supports (object-fit: cover) {
        .wpaw-pr-box__item-figure > img {
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: 50% 50%;
          transform: none; } }
    .wpaw-pr-box__item-figure::before {
      content: '';
      display: block; }
    .wpaw-pr-box__item-figure--4to3::before {
      padding-top: 75%; }
    .wpaw-pr-box__item-figure--16to9::before {
      padding-top: 56.25%; }
  .wpaw-pr-box__item-title {
    font-weight: bold; }
  .wpaw-pr-box__item-action {
    text-align: center; }
  .wpaw-pr-box__action {
    text-align: center; }

.wpaw-showcase {
  position: relative;
  display: block;
  text-decoration: none;
  overflow: hidden;
  /**
   * For right image
   */
  /**
   * For left image
   */
  /**
   * For bottom image
   */ }
  .wpaw-showcase__bgimage {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
    .wpaw-showcase__bgimage > img {
      position: absolute;
      width: auto;
      height: auto;
      top: 50%;
      left: 0;
      transform: translate3d(0, -50%, 0);
      min-width: 100%;
      min-height: 100%;
      max-width: none;
      max-height: none; }
      @media (max-width: 1023px) {
        .wpaw-showcase__bgimage > img {
          transform: translate3d(0, -50%, 0); } }
      @supports (object-fit: cover) {
        .wpaw-showcase__bgimage > img {
          object-fit: cover;
          width: 100%; } }
  .wpaw-showcase__mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    background-color: rgba(0, 0, 0, 0.2); }
  .wpaw-showcase__inner {
    position: relative; }
  .wpaw-showcase__figure {
    text-align: center; }
  .wpaw-showcase__title {
    color: #fff; }
  .wpaw-showcase__lead {
    color: #fff; }
  .wpaw-showcase__action {
    text-align: center; }
  .wpaw-showcase__more {
    display: inline-block;
    background-color: #fff;
    line-height: 1;
    text-decoration: none;
    text-align: center;
    white-space: nowrap; }

.wpaw-pickup-slider__canvas {
  visibility: hidden; }
  .wpaw-pickup-slider__canvas.slick-initialized {
    visibility: visible; }

.wpaw-pickup-slider__item {
  position: relative;
  display: block;
  text-decoration: none; }
  .wpaw-pickup-slider__item .wpaw-pickup-slider__figure {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }

.wpaw-pickup-slider__figure {
  position: relative;
  overflow: hidden;
  display: block;
  background-color: #111; }
  .wpaw-pickup-slider__figure > img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    transform: translate(-50%, -50%); }
    @supports (object-fit: cover) {
      .wpaw-pickup-slider__figure > img {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: 50% 50%;
        transform: none; } }

.wpaw-pickup-slider__item-content {
  position: relative;
  color: #fff; }

.wpaw-pickup-slider .slick-list {
  height: auto !important; }

.wpaw-google-adsense__row {
  margin: 0 -.5em -1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.wpaw-google-adsense__col {
  flex: 1 1 0%;
  max-width: 100%;
  padding: 0 .5em 1em; }

.wpaw-google-adsense__ad {
  margin: 0 auto;
  width: 100%; }
  .wpaw-google-adsense__ad--big-banner {
    max-width: 728px;
    max-height: 90px; }
  .wpaw-google-adsense__ad--rectangle-big {
    max-width: 336px;
    max-height: 280px; }
  .wpaw-google-adsense__ad--large-mobile {
    max-width: 320px;
    max-height: 100px; }
  .wpaw-google-adsense__ad--large-sky-scraper {
    max-width: 300px;
    max-height: 600px; }
  .wpaw-google-adsense__ad--rectangle {
    max-width: 300px;
    max-height: 250px; }
  .wpaw-google-adsense__ad--rectangle-big-2 {
    max-width: 336px;
    max-height: 280px; }
  .wpaw-google-adsense__ad--rectangle-2 {
    max-width: 300px;
    max-height: 250px; }

.wpaw-carousel__canvas {
  visibility: hidden; }
  .wpaw-carousel__canvas.slick-initialized {
    visibility: visible; }

.wpaw-carousel__item {
  position: relative; }

.wpaw-carousel__item-figure {
  position: relative;
  overflow: hidden;
  background-color: #eee; }
  .wpaw-carousel__item-figure > img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    transform: translate(-50%, -50%); }
    @supports (object-fit: cover) {
      .wpaw-carousel__item-figure > img {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: 50% 50%;
        transform: none; } }
  .wpaw-carousel__item-figure::before {
    content: '';
    display: block;
    padding-top: 75%; }

.wpaw-carousel__item-taxonomy {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 1; }

.wpaw-local-nav__list,
.wpaw-local-nav__item .wpaw-local-nav__sublist, .wpaw-local-nav__subitem {
  margin-top: 0;
  margin-bottom: 0; }

.wpaw-local-nav--horizontal .wpaw-local-nav__sublist {
  list-style: none;
  margin-left: 0;
  padding-left: 0; }

.wpaw-local-nav--horizontal .wpaw-local-nav__subitem {
  display: inline-block;
  margin-left: 0;
  padding-left: 0; }
  .wpaw-local-nav--horizontal .wpaw-local-nav__subitem:not(:first-child) {
    margin-left: 1rem; }
