.wpaw-google-adsense {
  &--rectangle-big-2,
  &--rectangle-2 {
    @media (max-width: 1023px) {
      .wpaw-google-adsense__row {
        flex-wrap: nowrap;
      }

      .wpaw-google-adsense__col {
        flex-basis: 50%;
        max-width: 50%;
      }
    }
  }

  &__row {
    margin: 0 -.5em -1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__col {
    flex: 1 1 0%;
    max-width: 100%;
    padding: 0 .5em 1em;
  }

  &__ad {
    margin: 0 auto;
    width: 100%;
    text-align: center;

    &--auto {}

    &--big-banner {
      max-width: 728px;
      max-height: 90px;
    }

    &--rectangle-big {
      max-width: 336px;
      max-height: 280px;
    }

    &--large-mobile {
      max-width: 320px;
      max-height: 100px;
    }

    &--large-sky-scraper {
      max-width: 300px;
      max-height: 600px;
    }

    &--rectangle {
      max-width: 300px;
      max-height: 250px;
    }

    &--rectangle-big-2 {
      max-width: 336px;
      max-height: 280px;
    }

    &--rectangle-2 {
      max-width: 300px;
      max-height: 250px;
    }
  }
}
