.wpaw-showcase {
  position: relative;
  display: block;
  text-decoration: none;
  overflow: hidden;

  &__bgimage {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    > img {
      position: absolute;
      width: auto;
      height: auto;
      top: 50%;
      left: 0;
      transform: translate3d(0, -50%, 0);
      min-width: 100%;
      min-height: 100%;
      max-width: none;
      max-height: none;

      @media (max-width: 1023px) {
        transform: translate3d(0, -50%, 0);
      }

      @supports (object-fit: cover) {
        object-fit: cover;
        width: 100%;
      }
    }
  }

  &__mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    background-color: rgba(#000, .2);
  }

  &__inner {
    position: relative;
  }

  &__figure {
    text-align: center;
  }

  &__title {
    color: #fff;
  }

  &__lead {
    color: #fff;
  }

  &__action {
    text-align: center;
  }

  &__more {
    display: inline-block;
    background-color: #fff;
    line-height: 1;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
  }

  /**
   * For right image
   */
  &--format-1 {
  }

  /**
   * For left image
   */
  &--format-2 {
  }

  /**
   * For bottom image
   */
  &--format-3 {
  }
}
