.wpaw-slider {
  &__canvas {
    visibility: hidden;

    &.slick-initialized {
      visibility: visible;
    }
  }

  .slick-track {
    display: flex;
  }

  .slick-slide {
    position: relative;

    &::before {
      content: '';
      display: block;
      padding-top: 56.25%;
    }

    .wpaw-slider__item {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      height: auto;
    }
  }
}
