.wpaw-pickup-slider {
  &__canvas {
    visibility: hidden;

    &.slick-initialized {
      visibility: visible;
    }
  }

  &__item {
    position: relative;
    display: block;
    text-decoration: none;

    .wpaw-pickup-slider__figure {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  &__figure {
    display: block;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__item-body {
    position: relative;
  }

  .slick-list {
    height: auto !important;
  }
}
