.wpaw-item-selector__post-type {
  margin-bottom: 10px; }

.wpaw-item-selector__selected-items {
  margin: 0;
  list-style: none;
  background-color: #eee;
  padding: 1em; }

.wpaw-item-selector__selected-item:not(:first-child) {
  margin-top: 5px; }

.wpaw-item-selector__items {
  position: relative;
  margin: 1em 0;
  list-style: none;
  padding: 0;
  height: 10em;
  overflow: scroll;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd; }

.wpaw-item-selector__items .spinner {
  visibility: visible; }

.wpaw-item-selector__items .wpaw-item-selector__refresh-btn-wrapper {
  margin: 0;
  padding: 10px;
  border: none; }

.wpaw-item-selector__selected-item,
.wpaw-item-selector__item {
  position: relative;
  margin: 0;
  border: 1px solid #ddd;
  background-color: #fff;
  font-weight: bold;
  padding: .5em 1em .5em 2.3em;
  cursor: pointer; }

.wpaw-item-selector__selected-item .dashicons,
.wpaw-item-selector__item .dashicons {
  position: absolute;
  top: .3em;
  left: .3em; }

.wpaw-item-selector__item:not(:first-child) {
  margin-top: -1px; }

.wpaw-item-selector__selected-item:hover,
.wpaw-item-selector__selected-item:active,
.wpaw-item-selector__selected-item:focus,
.wpaw-item-selector__item:hover,
.wpaw-item-selector__item:active,
.wpaw-item-selector__item:focus {
  color: #0073aa;
  border-color: #999;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  z-index: 1; }

.wpaw-repeaters__item {
  background-color: #fff;
  border: 1px solid #eee;
  margin: 10px 0;
  padding: 10px;
  cursor: move; }

.wpaw-repeaters__item:first-child {
  display: none; }

.wpaw-repeaters__item > * {
  margin: 0; }

.wpaw-repeaters__item > * + * {
  margin-top: 1em; }

.wpaw-repeaters__add-repeater-btn {
  margin: 0 0 10px !important;
  width: 100%; }

.wpaw-repeaters__item-controls {
  margin-top: .25em; }

.wpaw-thumbnail-field {
  margin: 1em 0; }

.wpaw-thumbnail-field__thumbnail {
  display: block; }

.wpaw-thumbnail-field__thumbnail img {
  margin-bottom: 5px;
  height: auto;
  max-width: 100%;
  vertical-align: top; }

.wpaw-thumbnail-field__buttons::before,
.wpaw-thumbnail-field__buttons::after {
  content: '';
  display: table;
  clear: both; }

.wpaw-thumbnail-field__set-image-btn {
  float: left;
  box-sizing: border-box;
  width: 73%; }

.wpaw-thumbnail-field__unset-image-btn {
  float: right;
  box-sizing: border-box;
  width: 25%; }

.wpaw-pr-box-widget textarea {
  width: 100%; }

.wpaw-showcase-widget textarea {
  width: 100%; }

.wpaw-slider-widget__thumbnail img {
  margin-bottom: 5px;
  height: auto;
  max-width: 100%; }

.js-wpaw-slider-widget-only-slide {
  display: none; }

.js-wpaw-slider-widget-only-slide[aria-hidden="false"] {
  display: block; }
